extends layout

block content
    div.globalBody
        div.containerDistance
            div.toggle
                div.toggle-button(onclick="AnimatedToggle()")
            div.text OFF
            
