extends layout

block content
    main
        form
            label Nom d'utlisateur
            input(type="text")
            br
            label Mot de passe
            input(type="password")
            br
            input.connexion(type="submit",value="envoyer")